<div class="row">
  <div class="col-12">
    <h1>Task Tracker</h1>

    <%= if @current_user do %>
      <h2> Welcome, <%= @current_user.email %>! </h2>
    <% else %>
      <p><%= link "Register", class: "btn btn-primary", to: Routes.user_path(@conn, :new) %></p>
    <% end %>
    </div>
  </div>