<h1>New Task</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.task_path(@conn, :create, @underlings)) %>

<span><%= link "Back", class: "btn btn-secondary", to: Routes.task_path(@conn, :index) %></span>
